  .sidebar {
    position: sticky;
    top: 0;
    width: 250px;
    background-color: #2f3b45;
    color: white;
    height: 729px;
    padding-top: 20px;
  }
  .sidebar-header {
    text-align: center;
    margin-bottom: 40px;
  }
  .menu-tag{
    display: flex;
    flex-direction: column;
    gap: 395px;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-right: 60px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    padding: 8px 20px;
  }
  
  .menu-item:hover {
    background-color: #1d2b33;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  /* Phần Sign out */
  .logout {
    bottom: 20px;
    width: 608%;
    text-align: center;
  }
  
  .logout .menu-item {
    background-color: #12896D; /* Nền xanh cho Sign out */
    padding: 10px 20px;
    width: 16.45%;
  }
  

  
  .signout-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  